.App {
  text-align: center;
}

#pokeballImg {
  height: 100px;
  width: 100px;
}

/* .cardContainer {
  align-content: center;
} */

.card {
  flex-wrap: wrap;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid black;
  width: 390px;
  margin: 10px;
  /* align-content: flex-end; */
}

.card-top {
  background-color: rgb(127, 236, 255);
}

.card-bottom {
  background-color: rgb(127, 236, 255);
}